<!DOCTYPE html>
<html class="wf-heronew-n7-active wf-heronew-n4-active wf-heronew-n6-active wf-heronew-n5-active wf-heronew-n3-active wf-heronew-n8-active wf-active">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ranks</title>
  <link rel="stylesheet" href="https://tilda.ws/project1745713/tilda-blocks-2.14.css?t=1649951095" type="text/css" media="all" onerror="this.loaderr='y';">
</head>
<div id="rec387459908" class="r t-rec t-screenmin-980px" style=" " data-record-type="396" data-screen-min="980px">
  <style>
  #rec387459908 .tn-elem[data-elem-id="1638284387818"]{color:#495957;text-align:center;z-index:8;top: 0px;left: calc(50% - 600px + 601px);width:100px;height:60px;}
  #rec387459908 .tn-elem[data-elem-id="1638284387818"] .tn-atom{color:#495957;font-size:15px;font-family:'Gilroy',Arial,sans-serif;line-height:1.55;font-weight:500;border-radius:0px;background-color:#ffffff;background-position:center center;border-color:transparent;border-style:solid;transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;}
  #rec387459908 .tn-elem[data-elem-id="1638284387818"] .tn-atom:hover{color:#e17352;}
  @media screen and (max-width: 1199px){}
    #rec387459908 .tn-elem[data-elem-id="1638284387818"]{top: 0px;left: calc(50% - 480px + 485px);}
    #rec387459908 .tn-elem[data-elem-id="1638284387818"]{color:#495957;}
    #rec387459908 .tn-elem[data-elem-id="1638284387818"] .tn-atom{color:#495957;background-color:#ffffff;}}
  @media screen and (max-width: 959px){}
  @media screen and (max-width: 639px){}
  @media screen and (max-width: 479px){}
    #rec387459908 .tn-elem[data-elem-id="1638284359197"]{color:#495957;text-align:center;z-index:7;top: 0px;left: calc(50% - 600px + 501px);width:100px;height:60px;}
    #rec387459908 .tn-elem[data-elem-id="1638284359197"] .tn-atom{color:#495957;font-size:15px;font-family:'Gilroy',Arial,sans-serif;line-height:1.55;font-weight:500;border-radius:0px;background-color:#ffffff;background-position:center center;border-color:transparent;border-style:solid;transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;}
    #rec387459908 .tn-elem[data-elem-id="1638284359197"] .tn-atom:hover{color:#e17352;}
  @media screen and (max-width: 479px){}
    #rec387459908 .tn-elem[data-elem-id="1638284358721"]{color:#495957;text-align:center;z-index:6;top: 0px;left: calc(50% - 600px + 401px);width:100px;height:60px;}
    #rec387459908 .tn-elem[data-elem-id="1638284358721"] .tn-atom{color:#495957;font-size:15px;font-family:'Gilroy',Arial,sans-serif;line-height:1.55;font-weight:500;border-radius:0px;background-color:#ffffff;background-position:center center;border-color:transparent;border-style:solid;transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;}
    #rec387459908 .tn-elem[data-elem-id="1638284358721"] .tn-atom:hover{color:#e17352;}
    </style>
<div class="t396">
  <div class="t396__elem tn-elem tn-elem__3874599081638284387818" data-elem-id="1638284387818" data-elem-type="button" data-field-top-value="0" data-field-top-res-960-value="0" data-field-left-value="601" data-field-left-res-960-value="485" data-field-height-value="60" data-field-width-value="100" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="" data-fields="top,left,width,height,container,axisx,axisy,caption,leftunits,topunits" style="top: 0px; left: 558px; width: 100px; height: 60px;">
    <a class="tn-atom" href="buy/2">GET Buy</a></div>
  <div class="t396__elem tn-elem tn-elem__3874599081638284359197" data-elem-id="1638284359197" data-elem-type="button" data-field-top-value="0" data-field-top-res-960-value="0" data-field-left-value="501" data-field-left-res-960-value="385" data-field-height-value="60" data-field-width-value="100" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="" data-fields="top,left,width,height,container,axisx,axisy,caption,leftunits,topunits" style="top: 0px; left: 458px; width: 100px; height: 60px;">
    <a class="tn-atom" href="item/2">GET Item</a>
  </div>
  <div class="t396__elem tn-elem tn-elem__3874599081638284358721" data-elem-id="1638284358721" data-elem-type="button" data-field-top-value="0" data-field-top-res-960-value="0" data-field-left-value="401" data-field-left-res-960-value="285" data-field-height-value="60" data-field-width-value="100" data-field-axisy-value="top" data-field-axisx-value="left" data-field-container-value="grid" data-field-topunits-value="px" data-field-leftunits-value="px" data-field-heightunits-value="" data-field-widthunits-value="" data-fields="top,left,width,height,container,axisx,axisy,caption,leftunits,topunits" style="top: 0px; left: 358px; width: 100px; height: 60px;">
    <a class="tn-atom" href="">API</a>
  </div>
</div>
<body>
</body>
</html>
